{% extends 'accounts/base_login.html' %}
{% load static %}
{% block content %}

<!-- CARRUSEL-->
<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://http2.mlstatic.com/D_NQ_888061-MLA69575761018_052023-OO.webp" class="d-block w-100"
                alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://http2.mlstatic.com/D_NQ_878493-MLA69574309400_052023-OO.webp" class="d-block w-100"
                alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://http2.mlstatic.com/D_NQ_811354-MLA69590524519_052023-OO.webp" class="d-block w-100"
                alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- PRODUCTOS -->
<div class="textcard">
    <h2 class="u-align-center u-text u-text-1">Algunos de nuestros productos</h2>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="cardIndex card">
            <img loading="lazy" src="https://http2.mlstatic.com/D_NQ_NP_987277-MLA47399516891_092021-O.webp"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pc Armada Dual Core Amd 8gb Ssd 240gb Wifi Hdmi 550w</h5>
                <p class="card-text">$97.990</p>
                <a href="pages/shop.html" class="btn btn-primary">Ir a Tienda</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="cardIndex card">
            <img loading="lazy" src="https://http2.mlstatic.com/D_NQ_NP_2X_736468-MLA54339629438_032023-F.webp"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pc Gamer Armada Ryzen 5 4600g 12 Nucleo Amd Ram 16gb Ssd 240</h5>
                <p class="card-text">$213.972</p>
                <a href="pages/shop.html" class="btn btn-primary">Ir a Tienda</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="cardIndex card">
            <img loading="lazy" src="https://http2.mlstatic.com/D_NQ_NP_2X_832597-MLA53084402117_122022-F.webp"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pc Armada Pro Intel 3.6ghz Dual Core Ssd 240 Ram 8gb Ddr4</h5>
                <p class="card-text">$147.999</p>
                <a href="pages/shop.html" class="btn btn-primary">Ir a Tienda</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="cardIndex card">
            <img loading="lazy" src="https://http2.mlstatic.com/D_NQ_NP_2X_884368-MLA53087339003_122022-F.webp"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pc Armada Gamer Amd Ryzen 5 5600g 12 Nucleo Ram 16gb Ssd 480</h5>
                <p class="card-text">$294.499,05</p>
                <a href="pages/shop.html" class="btn btn-primary">Ir a Tienda</a>
            </div>
        </div>
    </div>
</div>
<!-- ELEGIRNOS -->
<section class="scroll-target base-elegirnos" data-target="base-elegirnos">
    <div class="row">
        <h2 class="u-align-center u-text u-text-1">Datos que nos avalan</h2>
        <div class="elijen1 col-6 col-sm-4">
            <img loading="lazy" src='{% static "assets/img/candado.png" %}' alt="">
            <p>100% Seguro</p>
        </div>
        <div class="elijen2 col-6 col-sm-4">
            <img loading="lazy" src='{% static "assets/img/confiable.png" %}' alt="">
            <p>100% Confiable</p>
        </div>
        <div class="elijen3 col-6 col-sm-4">
            <img loading="lazy" src='{% static "assets/img/argentina.png" %}' alt="">
                    <p>Envíos Gratis a cualquier parte del país</p>
                </div>
                <div class=" elijen4 col-6 col-sm-4">
            <img loading="lazy" src='{% static "assets/img/clientes.png" %}' alt="">
            <p>Más de 100.000 clientes ya nos elijeron</p>
        </div>
        <div class="elijen5 col-6 col-sm-4">
            <img src='{% static "assets/img//24_7.png" %}' alt="">
            <p>Respuestas 24/7 cuando más lo necesites</p>
        </div>
        <div class="elijen6 col-6 col-sm-4">
            <img loading="lazy" src='{% static "assets/img/productos.png" %}' alt="">
            <p>Mas de 3500 productos</p>
        </div>
        <div class="elijen7 col-6 col-sm-4">
            <img loading="lazy" src='{% static "assets/img/diseño.png" %}' alt="">
                                        <p>Diseño simple de comprar</p>
                                    </div>
                                </div>
</section>
        <!-- EXPERIENCIAS -->
<section class="scroll-target base-experience" data-target="base-elegirnos">
            {% include 'partials/experience.html' %}
</section>
<!-- CONTACTO -->
<section class="scroll-target base-contact-form" data-target="base-contact-form">
    <form class="row" id="contact_form">
        <h2>Contacto</h2>
        <div class="col-auto">
            <label for="staticEmail2" class="visually-hidden">Email</label>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleFormControlInput1 from_name"
                    placeholder="name@example.com" name="email" required>
            </div>
            <div class="mb-3 ">
                <label for="name" class="visually-hidden">Name</label>
                <input type="text" class="form-control" id="text to_name" name="name" required
                    placeholder="Enter your Name">
            </div>
            <div class="mb-3 ">
                <label for="name" class="visually-hidden">Mensaje</label>
                <input type="text" class="form-control" name="message" required id="text message"
                    placeholder="Enter your Message">
            </div>
            <div class="">
                <input class="btn btn-warning mb-3" type="submit" id="button" value="Send Email">
            </div>
        </div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

        <script type="text/javascript">
            emailjs.init('5hJvH3IGa4CnpnOxY')
        </script>
    </form>
</section>



        <!-- LOCALIZACIóN -->
<section class="scroll-target base-geolocali-form" data-target="base-geolocali-form">
    <form class="row">
        <h2>Nuestra ubicación</h2>
        <div class="datos">
            <p>Dirección: Av. de Mayo 534, Ramos Mejia, La Matanza, Buenos Aires</p>
            <p>Teléfono: +5491162879826</p>
            <p>Mail: rnvilorian@gmail.com</p>
            <p>Horarios: Lunes a Viernes de 10.00 a 13.30hs / 14.30 a 18hs - Sabados: 10.00 a 13.30hs</p>
        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.5565527739473!2d-64.21122592442319!3d-31.426341674257174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a270595596a7%3A0x8c57b1b575ede617!2sSta.%20Cruz%201293%2C%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1687371089927!5m2!1ses!2sar"
            width="300" height="300" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>

    </form>
</section>

{% endblock %}
