{% extends 'accounts/base_login.html' %}

{% block content %}
  <h2>Acerca de Geek Shop</h2>
  <p>Geek Shop es una actualizada tienda virtual que facilita la compra de componentes de hardware a sus clientes con una amplia lista de productos y servicios, entre los cuales destaca el profesionalismo de sus tecnicos.</p>

  <h3>Dueño: Viloria Co.</h3>
  <p>Viloria Co. es una pyme familiar fundada por Gustavo y Rodrigo. El interes por la informatica fue trasmitido de padre a hijo proporcionandole asi un amplia cantidad de conocimientes que en conjunto sirvieron para formar esta compañia.</p>

  <h3>Nuestra Misión</h3>
  <p>Para Viloria Co. es importante la comodidad de nuestros clientes, llegando asi a ofrecer una amplica cantidad de servicios tecnicos y la facilidad de adquirir los componentes necesario para actualizar dia a dia las computadoras de nuestros clientes.</p>

{% endblock %}