{% extends 'base.html' %}
{% block content %}
<h1>Mis Productos</h1>
<div>
</div>
<a type="button" href="{% url 'buscar_producto' %}" class="btn btn-primary">
  Buscar Producto
</a>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Agregar
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Producto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="miFormulario" method="post" action="{% url 'crear_producto' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Guardar Producto</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Categoría</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Imagen</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
    <tr>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.categoria.nombre }}</td>
      <td>${{ producto.precio }}</td>
      <td>{{ producto.stock }}</td>
      <td>
        {% if producto.imagen %}
        <img style="max-height: 80px; max-width: 80px;" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
        {% else %}
        Sin imagen
        {% endif %}
      </td>
      <td>
        <a href="{% url 'ProductoDetail' pk=producto.id|default:0 %}" class="btn btn-info">
          Ver
      </a>
        <div class="modal fade" id="exampleModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Producto</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form id="miFormulario" method="post" action="{% url 'producto' %}" enctype="multipart/form-data">
                          {% csrf_token %}
                          <input type="hidden" name="nombre_producto" value="{% if producto_editar %}{{ producto_editar.nombre }}{% endif %}">
                          {{ form.as_p }}
                          <button type="submit" class="btn btn-primary">Guardar Producto</button>
                      </form>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
        <form id="eliminarForm miFormulario" method="post" action="{% url 'producto' %}" style="display: inline;">
          {% csrf_token %}
          <input type="hidden" name="eliminarProducto" value="{{ producto.nombre }}">
          <button type="submit" class="bi bi-eraser-fill btn btn-danger" title="Eliminar" id="eliminarBtn"></button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}